/////////↓クラススタイル一覧↓/////////

.font-md {
  font-size: 20px;
}
.font-lr {
  font-size: 30px;
}
//フォントサイズの設定

.mb-lg {
  margin-bottom: 150px !important;
}
.pb-lg {
  padding-bottom: 150px !important;
}
//余白のクラス

.flex {
  flex-direction: row;
}
.main-title {
  margin: 180px 0;
}
/////////↑クラススタイル一覧↑/////////

.header {
  &__nav {
    display: block;
  }
}

.mobile-menu {
  &__btn {
    display: none;
  }
}

.concept {
  &__container,
  &__container2 {
    align-items: center;
    justify-content: center;
    & > div {
      flex-basis: 50%;
    }
  }
  &__container2 {
    flex-direction: row-reverse;
    margin-top: 100px;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }
}

.menu > .menu-list > table {
  width: 90%;
}

.information {
  .detailInfo {
    width: 50%;
  }
}
